@layer components {
  .rating {
      position: relative;
      display: inline-flex;
      vertical-align: middle;
    }

  .rating input {
      border: none;
      appearance: none;
    }

  .rating :where(*) {
      height: calc(0.25rem * 6);
      width: calc(0.25rem * 6);
      border-radius: 0;
      background-color: var(--color-base-content);
      opacity: 20%;
    }

  @media (prefers-reduced-motion: no-preference) {
    .rating :where(*) {
      animation: rating 0.25s ease-out;
    }
    }

  .rating :where(*):is(input) {
      cursor: pointer;
    }

  .rating .rating-hidden {
      width: calc(0.25rem * 2);
      background-color: transparent;
    }

  .rating input[type="radio"]:checked {
      background-image: none;
    }

  .rating *:checked,
    .rating *[aria-checked="true"],
    .rating *[aria-current="true"],
    .rating *:has(~ *:checked, ~ *[aria-checked="true"], ~ *[aria-current="true"]) {
      opacity: 100%;
    }

  .rating *:focus-visible {
      scale: 1.1;
    }

  @media (prefers-reduced-motion: no-preference) {
    .rating *:focus-visible {
      transition: scale 0.2s ease-out;
    }
    }

  .rating *:active:focus {
      animation: none;
      scale: 1.1;
    }

  .rating.rating-xs :where(*:not(.rating-hidden)) {
      width: calc(0.25rem * 4);
      height: calc(0.25rem * 4);
    }

  .rating.rating-sm :where(*:not(.rating-hidden)) {
      width: calc(0.25rem * 5);
      height: calc(0.25rem * 5);
    }

  .rating.rating-md :where(*:not(.rating-hidden)) {
      width: calc(0.25rem * 6);
      height: calc(0.25rem * 6);
    }

  .rating.rating-lg :where(*:not(.rating-hidden)) {
      width: calc(0.25rem * 7);
      height: calc(0.25rem * 7);
    }

  .rating.rating-xl :where(*:not(.rating-hidden)) {
      width: calc(0.25rem * 8);
      height: calc(0.25rem * 8);
    }

  .rating-half.rating-xs *:not(.rating-hidden) {
      width: calc(0.25rem * 2);
    }

  .rating-half.rating-sm *:not(.rating-hidden) {
      width: calc(0.25rem * 2.5);
    }

  .rating-half.rating-md *:not(.rating-hidden) {
      width: calc(0.25rem * 3);
    }

  .rating-half.rating-lg *:not(.rating-hidden) {
      width: .875rem;
    }

  .rating-half.rating-xl *:not(.rating-hidden) {
      width: calc(0.25rem * 4);
    }
}
