@layer components {
  .textarea {
      border: var(--border) solid #0000;
      min-height: calc(0.25rem * 20);
      flex-shrink: 1;
      appearance: none;
      border-radius: var(--radius-field);
      background-color: var(--color-base-100);
      padding-block: calc(0.25rem * 2);
      vertical-align: middle;
      width: clamp(3rem, 20rem, 100%);
      padding-inline-start: 0.75rem;
      padding-inline-end: 0.75rem;
      font-size: max(var(--font-size, 0.875rem), 0.875rem);
      touch-action: manipulation;
      border-color: var(--input-color);
      box-shadow: 0 1px var(--input-color) inset, 0 -1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;
      --input-color: var(--color-base-content);
    }

  @supports (color: color-mix(in lab, red, red)) {
    .textarea {
      box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000) inset, 0 -1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;
    }
    }

  @supports (color: color-mix(in lab, red, red)) {
    .textarea {
      --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
    }
    }

  .textarea textarea {
      appearance: none;
      background-color: transparent;
      border: none;
    }

  .textarea textarea:focus,
    .textarea textarea:focus-within {
      --tw-outline-style: none;
      outline-style: none;
    }

  @media (forced-colors: active) {
    .textarea textarea:focus,
    .textarea textarea:focus-within {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    }

  .textarea:focus,
    .textarea:focus-within {
      --input-color: var(--color-base-content);
      box-shadow: 0 1px var(--input-color);
      outline: 2px solid var(--input-color);
      outline-offset: 2px;
      isolation: isolate;
    }

  @supports (color: color-mix(in lab, red, red)) {
    .textarea:focus,
    .textarea:focus-within {
      box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000);
    }
    }

  @media (pointer: coarse) {
    @supports (-webkit-touch-callout: none) {
    .textarea:focus,
    .textarea:focus-within {
      --font-size: 1rem;
    }
    }
    }

  .textarea:has(> textarea[disabled]),
    .textarea:is(:disabled, [disabled]) {
      cursor: not-allowed;
      border-color: var(--color-base-200);
      background-color: var(--color-base-200);
      color: var(--color-base-content);
      box-shadow: none;
    }

  @supports (color: color-mix(in lab, red, red)) {
    .textarea:has(> textarea[disabled]),
    .textarea:is(:disabled, [disabled]) {
      color: color-mix(in oklab, var(--color-base-content) 40%, transparent);
    }
    }

  .textarea:has(> textarea[disabled])::placeholder,
    .textarea:is(:disabled, [disabled])::placeholder {
      color: var(--color-base-content);
    }

  @supports (color: color-mix(in lab, red, red)) {
    .textarea:has(> textarea[disabled])::placeholder,
    .textarea:is(:disabled, [disabled])::placeholder {
      color: color-mix(in oklab, var(--color-base-content) 20%, transparent);
    }
    }

  .textarea:has(> textarea[disabled]) > textarea[disabled] {
      cursor: not-allowed;
    }

  .textarea-ghost {
      background-color: transparent;
      box-shadow: none;
      border-color: #0000;
    }

  .textarea-ghost:focus,
    .textarea-ghost:focus-within {
      background-color: var(--color-base-100);
      color: var(--color-base-content);
      border-color: #0000;
      box-shadow: none;
    }

  .textarea-lg {
      font-size: max(var(--font-size, 1.125rem), 1.125rem);
    }

  .textarea-md {
      font-size: max(var(--font-size, 0.875rem), 0.875rem);
    }

  .textarea-sm {
      font-size: max(var(--font-size, 0.75rem), 0.75rem);
    }

  .textarea-xl {
      font-size: max(var(--font-size, 1.375rem), 1.375rem);
    }

  .textarea-xs {
      font-size: max(var(--font-size, 0.6875rem), 0.6875rem);
    }

  .textarea-accent,
    .textarea-accent:focus,
    .textarea-accent:focus-within {
      --input-color: var(--color-accent);
    }

  .textarea-error,
    .textarea-error:focus,
    .textarea-error:focus-within {
      --input-color: var(--color-error);
    }

  .textarea-info,
    .textarea-info:focus,
    .textarea-info:focus-within {
      --input-color: var(--color-info);
    }

  .textarea-neutral,
    .textarea-neutral:focus,
    .textarea-neutral:focus-within {
      --input-color: var(--color-neutral);
    }

  .textarea-primary,
    .textarea-primary:focus,
    .textarea-primary:focus-within {
      --input-color: var(--color-primary);
    }

  .textarea-secondary,
    .textarea-secondary:focus,
    .textarea-secondary:focus-within {
      --input-color: var(--color-secondary);
    }

  .textarea-success,
    .textarea-success:focus,
    .textarea-success:focus-within {
      --input-color: var(--color-success);
    }

  .textarea-warning,
    .textarea-warning:focus,
    .textarea-warning:focus-within {
      --input-color: var(--color-warning);
    }
}
