@layer theme {
	[data-theme='light'] {
		--color-bg-body: var(--color-zinc-50);
		--color-bg-inverse: var(--color-zinc-900);
		--color-bg-primary: var(--color-zinc-200);
		--color-bg-secondary: var(--color-zinc-300);
		--color-bg-tertiary: var(--color-zinc-400);
		--color-bg-accent: var(--color-sky-600);
		--color-bg-positive: var(--color-emerald-700);
		--color-bg-destructive: var(--color-rose-700);

		--color-fg-body: var(--color-zinc-900);
		--color-fg-inverse: var(--color-zinc-100);
		--color-fg-primary: var(--color-zinc-800);
		--color-fg-secondary: var(--color-zinc-700);
		--color-fg-tertiary: var(--color-zinc-600);
		--color-fg-accent: var(--color-sky-700);
		--color-fg-positive: var(--color-emerald-800);
		--color-fg-destructive: var(--color-rose-800);

		--color-bg-info: var(--color-blue-600);
		--color-bg-warning: var(--color-amber-600);
		--color-bg-success: var(--color-emerald-600);
		--color-bg-error: var(--color-rose-600);
		--color-bg-neutral: var(--color-gray-600);

		--color-fg-info: var(--color-blue-700);
		--color-fg-warning: var(--color-amber-700);
		--color-fg-success: var(--color-emerald-700);
		--color-fg-error: var(--color-rose-700);
		--color-fg-neutral: var(--color-gray-700);
	}
}

@layer base {
	[data-theme='light'] {
		color-scheme: only light;
	}
}
