@layer components {
  .timeline {
      position: relative;
      display: flex;
    }

  .timeline > li {
      position: relative;
      display: grid;
      flex-shrink: 0;
      align-items: center;
      grid-template-rows: var(--timeline-row-start, minmax(0, 1fr)) auto var( --timeline-row-end, minmax(0, 1fr) );
      grid-template-columns: var(--timeline-col-start, minmax(0, 1fr)) auto var( --timeline-col-end, minmax(0, 1fr) );
    }

  .timeline > li > hr {
      border: none;
      width: 100%;
    }

  .timeline > li > hr:first-child {
      grid-column-start: 1;
      grid-row-start: 2;
    }

  .timeline > li > hr:last-child {
      grid-column-start: 3;
      grid-column-end: none;
      grid-row-start: 2;
      grid-row-end: auto;
    }

  @media print {
    .timeline > li > hr {
      border: 0.1px solid var(--color-base-300);
    }
    }

  .timeline :where(hr) {
      height: calc(0.25rem * 1);
      background-color: var(--color-base-300);
    }

  .timeline:has(.timeline-middle hr):first-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: var(--radius-selector);
      border-end-end-radius: var(--radius-selector);
    }

  .timeline:has(.timeline-middle hr):last-child {
      border-start-start-radius: var(--radius-selector);
      border-end-start-radius: var(--radius-selector);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

  .timeline:not(:has(.timeline-middle)) :first-child hr:last-child {
      border-start-start-radius: var(--radius-selector);
      border-end-start-radius: var(--radius-selector);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

  .timeline:not(:has(.timeline-middle)) :last-child hr:first-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: var(--radius-selector);
      border-end-end-radius: var(--radius-selector);
    }

  .timeline-end {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      margin: calc(0.25rem * 1);
      align-self: flex-start;
      justify-self: center;
    }

  .timeline-start {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      margin: calc(0.25rem * 1);
      align-self: flex-end;
      justify-self: center;
    }

  .timeline-horizontal {
      flex-direction: row;
    }

  .timeline-horizontal > li {
      align-items: center;
    }

  .timeline-horizontal > li > hr {
      height: calc(0.25rem * 1);
      width: 100%;
    }

  .timeline-horizontal > li > hr:first-child {
      grid-column-start: 1;
      grid-row-start: 2;
    }

  .timeline-horizontal > li > hr:last-child {
      grid-column-start: 3;
      grid-column-end: none;
      grid-row-start: 2;
      grid-row-end: auto;
    }

  .timeline-horizontal .timeline-start {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: flex-end;
      justify-self: center;
    }

  .timeline-horizontal .timeline-end {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: flex-start;
      justify-self: center;
    }

  .timeline-horizontal:has(.timeline-middle) > li > hr:first-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: var(--radius-selector);
      border-end-end-radius: var(--radius-selector);
    }

  .timeline-horizontal:has(.timeline-middle) > li > hr:last-child {
      border-start-start-radius: var(--radius-selector);
      border-end-start-radius: var(--radius-selector);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

  .timeline-horizontal:not(:has(.timeline-middle)) :first-child > hr:last-child {
      border-start-start-radius: var(--radius-selector);
      border-end-start-radius: var(--radius-selector);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

  .timeline-horizontal:not(:has(.timeline-middle)) :last-child > hr:first-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      border-start-end-radius: var(--radius-selector);
      border-end-end-radius: var(--radius-selector);
    }

  .timeline-vertical {
      flex-direction: column;
    }

  .timeline-vertical > li {
      justify-items: center;
      --timeline-row-start: minmax(0, 1fr);
      --timeline-row-end: minmax(0, 1fr);
    }

  .timeline-vertical > li > hr {
      height: 100%;
      width: calc(0.25rem * 1);
    }

  .timeline-vertical > li > hr:first-child {
      grid-column-start: 2;
      grid-row-start: 1;
    }

  .timeline-vertical > li > hr:last-child {
      grid-column-start: 2;
      grid-column-end: auto;
      grid-row-start: 3;
      grid-row-end: none;
    }

  .timeline-vertical .timeline-start {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      align-self: center;
      justify-self: flex-end;
    }

  .timeline-vertical .timeline-end {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
      align-self: center;
      justify-self: flex-start;
    }

  .timeline-vertical:has(.timeline-middle) > li > hr:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: var(--radius-selector);
      border-bottom-left-radius: var(--radius-selector);
    }

  .timeline-vertical:has(.timeline-middle) > li > hr:last-child {
      border-top-left-radius: var(--radius-selector);
      border-top-right-radius: var(--radius-selector);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

  .timeline-vertical:not(:has(.timeline-middle)) :first-child > hr:last-child {
      border-top-left-radius: var(--radius-selector);
      border-top-right-radius: var(--radius-selector);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

  .timeline-vertical:not(:has(.timeline-middle)) :last-child > hr:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: var(--radius-selector);
      border-bottom-left-radius: var(--radius-selector);
    }

  .timeline-vertical.timeline-snap-icon > li {
      --timeline-col-start: minmax(0, 1fr);
      --timeline-row-start: 0.5rem;
    }

  .timeline-compact {
      --timeline-row-start: 0;
    }

  .timeline-compact .timeline-start {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: flex-start;
      justify-self: center;
    }

  .timeline-compact li:has(.timeline-start) .timeline-end {
      grid-column-start: none;
      grid-row-start: auto;
    }

  .timeline-compact.timeline-vertical > li {
      --timeline-col-start: 0;
    }

  .timeline-compact.timeline-vertical .timeline-start {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
      align-self: center;
      justify-self: flex-start;
    }

  .timeline-compact.timeline-vertical li:has(.timeline-start) .timeline-end {
      grid-column-start: auto;
      grid-row-start: none;
    }

  .timeline-middle {
      grid-column-start: 2;
      grid-row-start: 2;
    }

  .timeline-snap-icon > li {
      --timeline-col-start: 0.5rem;
      --timeline-row-start: minmax(0, 1fr);
    }
}
