
.iconify {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.iconify-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon-[mdi--close] {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M19%206.41%2017.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%3C%2Fsvg%3E");
}
.icon-[mdi--close].iconify {
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
.icon-[mdi--close].iconify-color {
  background-image: var(--svg);
}

.icon-[mdi--firefox] {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M6.85%206.74q.015%200%200%200M21.28%208.6c-.43-1.05-1.32-2.18-2.01-2.54.56%201.11.89%202.22%201.02%203.04v.02c-1.13-2.82-3.05-3.96-4.62-6.44-.08-.12-.17-.25-.24-.38-.04-.07-.07-.14-.11-.21-.06-.13-.12-.26-.15-.4%200-.01-.01-.02-.02-.02h-.03c-2.22%201.3-3.15%203.59-3.38%205.04-.69.04-1.37.21-1.99.51-.12.05-.17.19-.13.31.05.14.21.21.34.15.54-.26%201.14-.41%201.74-.45h.05c.08-.01.17-.01.25-.01.5-.01.97.06%201.44.2l.06.02c.1.02.17.06.25.06.05.04.11.06.16.08l.14.06c.07.03.14.06.2.09.03.02.06.03.09.05.07.04.16.07.2.11.04.02.08.05.12.07.73.45%201.34%201.07%201.75%201.81-.53-.37-1.49-.74-2.41-.58%203.6%201.81%202.63%208-2.36%207.76-.44-.01-.88-.1-1.3-.25-.1-.03-.2-.07-.29-.12-.05-.02-.12-.05-.17-.08-1.23-.63-2.24-1.82-2.38-3.27%200%200%20.5-1.73%203.33-1.73.31%200%201.17-.86%201.2-1.1%200-.09-1.74-.78-2.42-1.45-.37-.36-.54-.53-.69-.66-.08-.07-.17-.13-.26-.19a4.63%204.63%200%200%201-.03-2.45C7.6%206.12%206.8%206.86%206.22%207.5c-.4-.5-.37-2.15-.35-2.5-.01%200-.3.16-.33.18-.35.25-.68.53-.98.82-.35.37-.66.74-.94%201.14-.62.91-1.12%201.95-1.34%203.04%200%20.01-.1.41-.17.92l-.03.23c-.02.17-.04.32-.08.58v.41c0%205.53%204.5%2010.01%2010%2010.01%204.97%200%209.08-3.59%209.88-8.33.02-.11.03-.24.05-.37.2-1.72-.02-3.52-.65-5.03%22%2F%3E%3C%2Fsvg%3E");
}
.icon-[mdi--firefox].iconify {
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
.icon-[mdi--firefox].iconify-color {
  background-image: var(--svg);
}

.icon-[mdi--loading] {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%204V2A10%2010%200%200%200%202%2012h2a8%208%200%200%201%208-8%22%2F%3E%3C%2Fsvg%3E");
}
.icon-[mdi--loading].iconify {
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
.icon-[mdi--loading].iconify-color {
  background-image: var(--svg);
}

.icon-[mdi--palette] {
  --svg: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M17.5%2012a1.5%201.5%200%200%201-1.5-1.5A1.5%201.5%200%200%201%2017.5%209a1.5%201.5%200%200%201%201.5%201.5%201.5%201.5%200%200%201-1.5%201.5m-3-4A1.5%201.5%200%200%201%2013%206.5%201.5%201.5%200%200%201%2014.5%205%201.5%201.5%200%200%201%2016%206.5%201.5%201.5%200%200%201%2014.5%208m-5%200A1.5%201.5%200%200%201%208%206.5%201.5%201.5%200%200%201%209.5%205%201.5%201.5%200%200%201%2011%206.5%201.5%201.5%200%200%201%209.5%208m-3%204A1.5%201.5%200%200%201%205%2010.5%201.5%201.5%200%200%201%206.5%209%201.5%201.5%200%200%201%208%2010.5%201.5%201.5%200%200%201%206.5%2012M12%203a9%209%200%200%200-9%209%209%209%200%200%200%209%209%201.5%201.5%200%200%200%201.5-1.5c0-.39-.15-.74-.39-1-.23-.27-.38-.62-.38-1a1.5%201.5%200%200%201%201.5-1.5H16a5%205%200%200%200%205-5c0-4.42-4.03-8-9-8%22%2F%3E%3C%2Fsvg%3E");
}
.icon-[mdi--palette].iconify {
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
}
.icon-[mdi--palette].iconify-color {
  background-image: var(--svg);
}
