@layer components {
  .toggle {
      border: var(--border) solid currentColor;
      color: var(--input-color);
      position: relative;
      display: inline-grid;
      flex-shrink: 0;
      cursor: pointer;
      appearance: none;
      place-content: center;
      vertical-align: middle;
      webkit-user-select: none;
      user-select: none;
      grid-template-columns: 0fr 1fr 1fr;
      --radius-selector-max: calc(
        var(--radius-selector) + var(--radius-selector) + var(--radius-selector)
        );
      border-radius: calc( var(--radius-selector) + min(var(--toggle-p), var(--radius-selector-max)) + min(var(--border), var(--radius-selector-max)) );
      padding: var(--toggle-p);
      box-shadow: 0 1px currentColor inset;
      transition: color 0.3s, grid-template-columns 0.2s;
      --input-color: var(--color-base-content);
      --toggle-p: calc(var(--size) * 0.125);
      --size: calc(var(--size-selector, 0.25rem) * 6);
      width: calc((var(--size) * 2) - (var(--border) + var(--toggle-p)) * 2);
      height: var(--size);
    }

  @supports (color: color-mix(in lab, red, red)) {
    .toggle {
      box-shadow: 0 1px color-mix(in oklab, currentColor calc(var(--depth) * 10%), #0000) inset;
    }
    }

  @supports (color: color-mix(in lab, red, red)) {
    .toggle {
      --input-color: color-mix(in oklab, var(--color-base-content) 50%, #0000);
    }
    }

  .toggle > * {
      z-index: 1;
      grid-column: span 1 / span 1;
      grid-column-start: 2;
      grid-row-start: 1;
      height: 100%;
      cursor: pointer;
      appearance: none;
      background-color: transparent;
      padding: calc(0.25rem * 0.5);
      transition: opacity 0.2s, rotate 0.4s;
      border: none;
    }

  .toggle > *:focus {
      --tw-outline-style: none;
      outline-style: none;
    }

  @media (forced-colors: active) {
    .toggle > *:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    }

  .toggle > *:nth-child(2) {
      color: var(--color-base-100);
      rotate: 0deg;
    }

  .toggle > *:nth-child(3) {
      color: var(--color-base-100);
      opacity: 0%;
      rotate: -15deg;
    }

  .toggle:has(:checked) > :nth-child(2) {
      opacity: 0%;
      rotate: 15deg;
    }

  .toggle:has(:checked) > :nth-child(3) {
      opacity: 100%;
      rotate: 0deg;
    }

  .toggle:before {
      position: relative;
      inset-inline-start: calc(0.25rem * 0);
      grid-column-start: 2;
      grid-row-start: 1;
      aspect-ratio: 1 / 1;
      height: 100%;
      width: 100%;
      border-radius: var(--radius-selector);
      background-color: currentcolor;
      translate: 0;
      --tw-content: "";
      content: var(--tw-content);
      transition: background-color 0.1s, translate 0.2s, inset-inline-start 0.2s;
      box-shadow: 0 -1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset, 0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset, 0 1px currentColor;
      background-size: auto, calc(var(--noise) * 100%);
      background-image: none, var(--fx-noise);
    }

  @supports (color: color-mix(in lab, red, red)) {
    .toggle:before {
      box-shadow: 0 -1px oklch(0% 0 0 / calc(var(--depth) * 0.1)) inset, 0 8px 0 -4px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset, 0 1px color-mix(in oklab, currentColor calc(var(--depth) * 10%), #0000);
    }
    }

  @media (forced-colors: active) {
    .toggle:before {
      outline-style: var(--tw-outline-style);
      outline-width: 1px;
      outline-offset: calc(1px * -1);
    }
    }

  @media print {
    .toggle:before {
      outline: 0.25rem solid;
      outline-offset: -1rem;
    }
    }

  .toggle:focus-visible,
    .toggle:has(:focus-visible) {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }

  .toggle:checked,
    .toggle[aria-checked="true"],
    .toggle:has(> input:checked) {
      grid-template-columns: 1fr 1fr 0fr;
      background-color: var(--color-base-100);
      --input-color: var(--color-base-content);
    }

  .toggle:checked:before,
    .toggle[aria-checked="true"]:before,
    .toggle:has(> input:checked):before {
      background-color: currentcolor;
    }

  @starting-style {
    .toggle:checked:before,
    .toggle[aria-checked="true"]:before,
    .toggle:has(> input:checked):before {
      opacity: 0;
    }
    }

  .toggle:indeterminate {
      grid-template-columns: 0.5fr 1fr 0.5fr;
    }

  .toggle:disabled {
      cursor: not-allowed;
      opacity: 30%;
    }

  .toggle:disabled:before {
      background-color: transparent;
      border: var(--border) solid currentColor;
    }

  .toggle-accent:checked,
    .toggle-accent[aria-checked="true"] {
      --input-color: var(--color-accent);
    }

  .toggle-error:checked,
    .toggle-error[aria-checked="true"] {
      --input-color: var(--color-error);
    }

  .toggle-info:checked,
    .toggle-info[aria-checked="true"] {
      --input-color: var(--color-info);
    }

  .toggle-lg:is([type="checkbox"]),
    .toggle-lg:has([type="checkbox"]) {
      --size: calc(var(--size-selector, 0.25rem) * 7);
    }

  .toggle-md:is([type="checkbox"]),
    .toggle-md:has([type="checkbox"]) {
      --size: calc(var(--size-selector, 0.25rem) * 6);
    }

  .toggle-neutral:checked,
    .toggle-neutral[aria-checked="true"] {
      --input-color: var(--color-neutral);
    }

  .toggle-primary:checked,
    .toggle-primary[aria-checked="true"] {
      --input-color: var(--color-primary);
    }

  .toggle-secondary:checked,
    .toggle-secondary[aria-checked="true"] {
      --input-color: var(--color-secondary);
    }

  .toggle-sm:is([type="checkbox"]),
    .toggle-sm:has([type="checkbox"]) {
      --size: calc(var(--size-selector, 0.25rem) * 5);
    }

  .toggle-success:checked,
    .toggle-success[aria-checked="true"] {
      --input-color: var(--color-success);
    }

  .toggle-warning:checked,
    .toggle-warning[aria-checked="true"] {
      --input-color: var(--color-warning);
    }

  .toggle-xl:is([type="checkbox"]),
    .toggle-xl:has([type="checkbox"]) {
      --size: calc(var(--size-selector, 0.25rem) * 8);
    }

  .toggle-xs:is([type="checkbox"]),
    .toggle-xs:has([type="checkbox"]) {
      --size: calc(var(--size-selector, 0.25rem) * 4);
    }
}
