.showcase-block {
	@apply flex flex-col;
	gap: 1rem;
}

.showcase-block__container {
	@apply bg-[oklch(var(--color-base-200))];
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.showcase-block__title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: oklch(var(--color-base-content));
}

.showcase-block__description {
	color: oklch(var(--color-base-content) / 0.7);
	margin-bottom: 1rem;
}

.showcase-block__content--preview {
	@apply border bg-[oklch(var(--color-base-100))] border-[oklch(var(--color-base-content)/0.15)];
	padding: 2rem;
	border-radius: 0.5rem;
}
