@layer components {
  .stat-figure {
      grid-column-start: 2;
      grid-row: span 3 / span 3;
      grid-row-start: 1;
      place-self: center;
      justify-self: flex-end;
    }

  .stat-value {
      grid-column-start: 1;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 800;
    }

  .stat-desc {
      grid-column-start: 1;
      white-space: nowrap;
      color: var(--color-base-content);
      font-size: 0.75rem;
    }

  @supports (color: color-mix(in lab, red, red)) {
    .stat-desc {
      color: color-mix(in oklab, var(--color-base-content) 60%, transparent);
    }
    }

  .stat-title {
      grid-column-start: 1;
      white-space: nowrap;
      color: var(--color-base-content);
      font-size: 0.75rem;
    }

  @supports (color: color-mix(in lab, red, red)) {
    .stat-title {
      color: color-mix(in oklab, var(--color-base-content) 60%, transparent);
    }
    }

  .stat-actions {
      grid-column-start: 1;
      white-space: nowrap;
    }

  .stat {
      display: inline-grid;
      width: 100%;
      column-gap: calc(0.25rem * 4);
      padding-inline: calc(0.25rem * 6);
      padding-block: calc(0.25rem * 4);
      grid-template-columns: repeat(1, 1fr);
    }

  .stat:not(:last-child) {
      border-inline-end: var(--border) dashed currentColor;
      border-block-end: none;
    }

  @supports (color: color-mix(in lab, red, red)) {
    .stat:not(:last-child) {
      border-inline-end: var(--border) dashed color-mix(in oklab, currentColor 10%, #0000);
    }
    }
}
