@layer components {
  .collapse-arrow > .collapse-title:after {
      position: absolute;
      display: block;
      height: 0.5rem;
      width: 0.5rem;
      transform: translateY(-100%) rotate(45deg);
      top: 50%;
      inset-inline-end: 1.4rem;
      content: "";
      transform-origin: 75% 75%;
      box-shadow: 2px 2px;
      pointer-events: none;
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse-arrow > .collapse-title:after {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.2s;
    }
    }

  .collapse-plus > .collapse-title:after {
      position: absolute;
      display: block;
      height: 0.5rem;
      width: 0.5rem;
      top: 0.9rem;
      inset-inline-end: 1.4rem;
      --tw-content: "+";
      content: var(--tw-content);
      pointer-events: none;
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse-plus > .collapse-title:after {
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    }

  .collapse {
      display: grid;
      position: relative;
      overflow: hidden;
      border-radius: var(--radius-box, 1rem);
      width: 100%;
      grid-template-rows: max-content 0fr;
      grid-template-columns: minmax(0, 1fr);
      isolation: isolate;
    }

  .collapse:not(td, tr, colgroup) {
      visibility: revert-layer;
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse {
      transition: grid-template-rows 0.2s;
    }
    }

  .collapse > input:is([type="checkbox"], [type="radio"]) {
      grid-column-start: 1;
      grid-row-start: 1;
      appearance: none;
      opacity: 0;
      z-index: 1;
      width: 100%;
      padding: 1rem;
      padding-inline-end: 3rem;
      min-height: 1lh;
      transition: background-color 0.2s ease-out;
    }

  .collapse:is( [open], [tabindex]:focus:not(.collapse-close), [tabindex]:focus-within:not(.collapse-close) ),
    .collapse:not(.collapse-close):has(> input:is([type="checkbox"], [type="radio"]):checked) {
      grid-template-rows: max-content 1fr;
    }

  .collapse:is( [open], [tabindex]:focus:not(.collapse-close), [tabindex]:focus-within:not(.collapse-close) ) > .collapse-content,
    .collapse:not(.collapse-close) > :where(input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-content) {
      content-visibility: visible;
      min-height: fit-content;
    }

  @supports not (content-visibility: visible) {
    .collapse:is( [open], [tabindex]:focus:not(.collapse-close), [tabindex]:focus-within:not(.collapse-close) ) > .collapse-content,
    .collapse:not(.collapse-close) > :where(input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-content) {
      visibility: visible;
    }
    }

  .collapse:focus-visible,
    .collapse:has(> input:is([type="checkbox"], [type="radio"]):focus-visible),
    .collapse:has(summary:focus-visible) {
      outline-color: var(--color-base-content);
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
    }

  .collapse:not(.collapse-close) > input[type="checkbox"],
    .collapse:not(.collapse-close) > input[type="radio"]:not(:checked),
    .collapse:not(.collapse-close) > .collapse-title {
      cursor: pointer;
    }

  .collapse[tabindex]:focus:not(.collapse-close, .collapse[open]) > .collapse-title,
    .collapse[tabindex]:focus-within:not(.collapse-close, .collapse[open]) > .collapse-title {
      cursor: unset;
    }

  .collapse:is( [open], [tabindex]:focus:not(.collapse-close), [tabindex]:focus-within:not(.collapse-close) ) > :where(.collapse-content),
    .collapse:not(.collapse-close) > :where(input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-content) {
      padding-bottom: 1rem;
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse:is([open]).collapse-arrow > .collapse-title:after {
      transform: translateY(-50%) rotate(225deg);
    }
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse.collapse-open.collapse-arrow > .collapse-title:after {
      transform: translateY(-50%) rotate(225deg);
    }
    }

  .collapse.collapse-open.collapse-plus > .collapse-title:after {
      --tw-content: "−";
      content: var(--tw-content);
    }

  .collapse[tabindex].collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
    .collapse.collapse-arrow[tabindex]:focus-within:not(.collapse-close) > .collapse-title:after {
      transform: translateY(-50%) rotate(225deg);
    }

  .collapse.collapse-arrow:not(.collapse-close) > input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-title:after {
      transform: translateY(-50%) rotate(225deg);
    }

  .collapse[open].collapse-plus > .collapse-title:after {
      --tw-content: "−";
      content: var(--tw-content);
    }

  .collapse[tabindex].collapse-plus:focus:not(.collapse-close) > .collapse-title:after {
      --tw-content: "−";
      content: var(--tw-content);
    }

  .collapse.collapse-plus:not(.collapse-close) > input:is([type="checkbox"], [type="radio"]):checked ~ .collapse-title:after {
      --tw-content: "−";
      content: var(--tw-content);
    }

  .collapse:is(details) {
      width: 100%;
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse:is(details)::details-content {
      transition: content-visibility 0.2s allow-discrete, visibility 0.2s allow-discrete, min-height 0.2s ease-out allow-discrete, padding 0.1s ease-out 20ms, background-color 0.2s ease-out, height 0.2s;
      height: 0;
      interpolate-size: allow-keywords;
    }
    .collapse:is(details):where([open])::details-content {
      height: auto;
    }
    }

  .collapse:is(details) summary {
      position: relative;
      display: block;
    }

  .collapse:is(details) summary::-webkit-details-marker {
      display: none;
    }

  .collapse:is(details) > .collapse-content {
      content-visibility: visible;
    }

  .collapse:is(details) summary {
      outline: none;
    }

  .collapse-content {
      grid-column-start: 1;
      grid-row-start: 1;
      content-visibility: hidden;
      grid-column-start: 1;
      grid-row-start: 2;
      min-height: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      cursor: unset;
    }

  @supports not (content-visibility: hidden) {
    .collapse-content {
      visibility: hidden;
    }
    }

  @media (prefers-reduced-motion: no-preference) {
    .collapse-content {
      transition: content-visibility 0.2s allow-discrete, visibility 0.2s allow-discrete, min-height 0.2s ease-out allow-discrete, padding 0.1s ease-out 20ms, background-color 0.2s ease-out;
    }
    }

  .collapse-open {
      grid-template-rows: max-content 1fr;
    }

  .collapse-open > .collapse-content {
      content-visibility: visible;
      min-height: fit-content;
      padding-bottom: 1rem;
    }

  @supports not (content-visibility: visible) {
    .collapse-open > .collapse-content {
      visibility: visible;
    }
    }

  .collapse {
      visibility: collapse;
    }

  .collapse-title {
      grid-column-start: 1;
      grid-row-start: 1;
      position: relative;
      width: 100%;
      padding: 1rem;
      padding-inline-end: 3rem;
      min-height: 1lh;
      transition: background-color 0.2s ease-out;
    }
}
