@layer base {
  html {
    scrollbar-color: var(--color-base-300) transparent;
  }

  body {
    color: var(--color-base-content);
    background: var(--color-base-100);
    overflow-x: clip;
    touch-action: manipulation;
  }

  *::selection {
    color: var(--color-primary-content);
    background: var(--color-primary);
  }

  .resize-y {
    resize: vertical;
  }

  .resize-x {
    resize: horizontal;
  }

  .resize-both {
    resize: both;
  }

  .resize-none {
    resize: none;
  }
}

@layer components {
  .table tr.active {
    background-color: var(--b2);
  }

  .table.table-hover tbody tr:hover {
    background-color: var(--b2);
  }
}
